#home {
    border: 1px solid black;
}

#title {
    /* font-size: xx-large; */
    font-weight: 800;
    font-size: 84px;
}

.social-links {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}