.post {
    /* text-align: left; */
    background-color: var(--primary-extra-light-color);


    .post-title {
        font-size: 52px;
    }

    .post-main-area {
        width: 100%;
    }

    .post-main-image {
        width: 90%;
    }
    
    .post-timestamp {
        color:  var(--light-grey);
        font-size: small;
    }

    
    .post-detailed-description {
        font-size: medium;
    
    }
    
    .post-content {
        font-size: medium;
        padding: 20px;
        text-align: left;
    }
}

