.blog {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    gap: 20px;

    
    .search-area {
        display: flex;
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 20px;
        height: 40px;
        /* width: 50%; */
        width: 740px;
        /* background: var(--primary-extra-light-color); */
        /* border-radius: 20px; */
    
        padding: 20px;
    
        box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    }
    
    .posts {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
        /* width: fit-content; */
        /* margin: 0 auto; */
    }
    
    
    
    
    .post-card {
        text-align: left;
        cursor: pointer;
    
        /* Auto layout */
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        align-content: space-between;
        padding: 20px;
        gap: 32px;
    
        /* position: relative; */
        width: 740px;
        height: 268.47px;
    
        background: var(--primary-extra-light-color);
        border-radius: 20px;
    
    
        box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    
    
        /* Blog Image */
        .post-image-container {
            width: 334px;
            height: 228.47px;
            
            /* background: url(../../assets/sample-tf-code.png); */
            border-radius: 20px;
            
            /* Inside auto layout */
            flex: none;
            order: 0;
            flex-grow: 0;
            /* object-fit: contain */
        }
    
        .post-image {
            width: 334px;
            height: 228.47px;
            border-radius: 20px;
            object-fit: cover
        }
    
    
        /* Blog Title */
        .post-title {
    
    
            /* Auto layout */
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            padding: 0px;
            gap: 5px;
    
            width: 334px;
            height: 78px;
    
    
            /* Inside auto layout */
            flex: none;
            order: 0;
            align-self: stretch;
            flex-grow: 1;
    
        }
    
    
    
    
    
    
        /* Tensorflow and Their Newest Update */
        .post-title-text {
    
    
            margin: 0 auto;
            width: 334px;
            height: 48px;
    
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 700;
            font-size: 20px;
            line-height: 24px;
            display: flex;
            align-items: center;
    
            color: #1E4886;
    
    
            /* Inside auto layout */
            flex: none;
            order: 0;
            align-self: stretch;
            flex-grow: 0;
    
        }
    
    
        /* 07-07-2024 */
        .post-date {
    
    
            margin: 0 auto;
            width: 334px;
            height: 17px;
    
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 200;
            font-size: 14px;
            line-height: 17px;
            /* identical to box height */
    
            color: #1E4886;
    
    
            /* Inside auto layout */
            flex: none;
            order: 1;
            align-self: stretch;
            flex-grow: 0;
    
    
        }
    
    
        /* Blog Content */
        .post-description {
    
    
            /* Auto layout */
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            padding: 0px;
            gap: 10px;
    
            width: 334px;
            height: 228px;
    
    
            /* Inside auto layout */
            flex: none;
            order: 1;
            flex-grow: 0;
    
        }
    
    
        /* Blog Text */
    
        .post-text  {
    
            /* Auto layout */
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            padding: 0px;
            gap: 10px;
            
            width: 334px;
            height: 228px;
            
            
            /* Inside auto layout */
            flex: none;
            order: 1;
            flex-grow: 0;
        }
    
    }


}    

