#nav {
    /* position: fixed; */
    /* top: 0px; */
    /* left: 0px; */
    /* border: 1px solid red; */
    background-color: var(--primary-color);
    color: var(--primary-light-color);
    text-align: center;
    /* border-radius: 20px; */
    /* padding: 20px; */
}

.nav-list {
    display: flex;
    align-items: flex-end;
    flex-direction: row;
    list-style-type: none;
    justify-content: space-evenly;
    flex-flow: row;
    padding: 0px;
    
    li {
        width: 80%;
        padding: 12px 16px;
        &:hover{
            background-color: var(--primary-light-color);
            color: var(--primary-color);
            cursor: pointer;

            transition: ease-in-out 0.5s;
            a {
                text-decoration: none;
                color: var(--primary-color);
    
                &:hover{
                    color: var(--primary-color);
                }
            }
        }

        a {
            text-decoration: none;
            color: var(--primary-light-color);

            &:hover{
                color: var(--primary-color);

            }
        }
    }


}

