#nav {
    position: fixed;
    top: 0px;
    left: 0px;
    border: 1px solid red;
    padding: 10px;
}

#nav-list {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    
    li {
        border: 1px solid blue;
    }
}

