.paginator {
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 1em;


    .page-num {
        background-color: var(--primary-color);
        border: 1px solid var(--primary-color);
        border-radius: 10px;
        width: 60px;
    }
}